<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618232514208-aqs2vt03l7oao0t7v4tdrt230beb2f79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618232514208-aqs2vt03l7oao0t7v4tdrt230beb2f79</string>
	<key>API_KEY</key>
	<string>AIzaSyCMLYhmb_FskomTdiz8LwTbiik6KHN2E6s</string>
	<key>GCM_SENDER_ID</key>
	<string>618232514208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-92c2d</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-92c2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618232514208:ios:5df549cd9c925b43c0ebc5</string>
</dict>
</plist>